.textBold { 
    font-weight: bold;
  }

  div#typeTransport{
    float:left;width:50px;
    margin-left:40px;
    margin-top: 30px;
  } 
  div#nomLigne{
    float:left;width:50px;
    margin-left:40px;
    margin-top: 20px;
  }