
<div id ="ligneDiv" *ngIf="ligne" #ligneDiv>
  <div id="typeTransport">
    <mat-icon *ngIf="ligne.type == 'Train'">train</mat-icon>   
    <mat-icon *ngIf="ligne.type == 'Bus'">directions_bus</mat-icon>
  </div>
  <div id="nomLigne">
    <svg width="2000" height="70" >
      <g>
        <circle [attr.stroke]="ligne.couleur" style="fill:url(#toning);stroke-width:5;stroke-miterlimit:10;" cx="40" cy="40" r="25">
        </circle>
        <text x=40 y=40 text-anchor="middle" [attr.stroke]="ligne.couleur" stroke-width="1px" dy=".3em">{{ligne.nomLigne}}</text>
      </g>
    </svg>
  </div>
  
  <div>
    <svg width="2000" height="300">
    <g *ngFor="let gare of ligne.garesDto">
      <line [attr.x1]="gare.coordonnee" [attr.y1]=170 *ngIf="gare.type != 'T'" [attr.x2]="gare.coordonnee+ligne.intervalleArret" [attr.y2]=170 
      [attr.stroke]="ligne.couleur" stroke-width="5" fill="none" stroke-opacity="2" fill-opacity="2"/>      
      
    <!-- Dessiner les arrets -->
    <g>
      <circle *ngIf= "!IsGareDepartOuTerminus(gare.type)" [attr.stroke]="ligne.couleur" style="stroke-width:7;" [attr.cx]="gare.coordonnee" cy="170" r="3" />
      <circle *ngIf= "IsGareDepartOuTerminus(gare.type)" style="stroke:black;stroke-width:7;" [attr.cx]="gare.coordonnee" cy="170" r="3" />
    </g>

    <!-- Ajouter les noms des arrets -->
    <g>
      <text *ngIf= "!IsGareDepartOuTerminus(gare.type)" [attr.x]="gare.coordonnee" [attr.y]=170 dx=-3 dy=-12 [attr.transform]="'rotate(-50, '+gare.coordonnee+',170)'">
        {{gare.gare}}
      </text>
      <text *ngIf= "IsGareDepartOuTerminus(gare.type)" [attr.x]="gare.coordonnee" [attr.y]=170 dx=-3 dy=-12 [attr.transform]="'rotate(-50, '+gare.coordonnee+',170)'" style="font-weight: bold;">
        {{gare.gare}}
      </text>
      
      <!-- Ajouter les correspondances -->
      <g *ngFor="let link of gare.linksBus">
        <g *ngIf="!IsGareWithLinks(link) && !IsNotSameLigne(link.nomLigne,ligne.nomLigne)">
          <line [attr.x1]="gare.coordonnee" [attr.y1]=175 [attr.x2]="gare.coordonnee" [attr.y2]=193 
            stroke="black" stroke-width="1" fill="none" stroke-opacity="1" fill-opacity="1"/>
          <!-- Correspondances de type bus -->  
          <g *ngIf="link.ordre == '1'">
            <circle [attr.stroke]='link.couleurlink' [attr.cx]="link.coordonnee" [attr.cy]=200 style="fill:url(#toning);stroke-width:1;stroke-miterlimit:10;" r="7"></circle>
            <text [attr.x]=link.coordonnee [attr.y]=200 text-anchor="middle" font-size="6" [attr.stroke]="link.couleurlink" stroke-width="1px" dy=".3em">BUS</text>  
          </g>
          <circle [attr.stroke]="link.couleur" [attr.cx]="link.coordonnee + 17" [attr.cy]=200 style="fill:url(#toning);stroke-width:1;stroke-miterlimit:10;" r="7"></circle>
          <text [attr.x]=link.coordonnee+17 [attr.y]=200 text-anchor="middle" font-size="6" [attr.stroke]="link.couleur" stroke-width="1px" dy=".3em">{{link.nomLigne}}</text>
        </g>
      </g>

      <g *ngFor="let link of gare.linksTrain">
        <g *ngIf="!IsGareWithLinks(link) && !IsNotSameLigne(link.nomLigne,ligne.nomLigne)">
          <line [attr.x1]="gare.coordonnee" [attr.y1]=207 [attr.x2]="gare.coordonnee" [attr.y2]=214 
            stroke="black" stroke-width="1" fill="none" stroke-opacity="1" fill-opacity="1"/>
          <!-- Correspondances de type train -->  
          <g *ngIf="link.ordre == '1'">
            <svg [attr.x]=link.coordonnee-8 [attr.y]=213 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" 
            viewBox="0 0 24 24"><path d="M12 2c-4 0-8 .5-8 4v9.5A3.5 3.5 0 0 0 7.5 19L6 20.5v.5h2.23l2-2H14l2 2h2v-.5L16.5 19a3.5 3.5 0 0 0 3.5-3.5V6c0-3.5-3.58-4-8-4M7.5 17A1.5 1.5 0 0 1 6 15.5A1.5 1.5 0 0 1 7.5 14A1.5 1.5 0 0 1 9 15.5A1.5 1.5 0 0 1 7.5 17m3.5-7H6V6h5v4m2 0V6h5v4h-5m3.5 7a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5z" fill="black"/></svg>
          </g>          
          <circle [attr.stroke]="link.couleur" [attr.cx]="link.coordonnee + 17" [attr.cy]=220 style="fill:url(#toning);stroke-width:1;stroke-miterlimit:10;" r="7"></circle>
          <text [attr.x]=link.coordonnee+17 [attr.y]=220 text-anchor="middle" font-size="6" [attr.stroke]="link.couleur" stroke-width="1px" dy=".3em">{{link.nomLigne}}</text>        
        </g>
      </g>
    </g>

  </g>
    </svg>
  </div>  
</div>
<br>
<table>
  <tr>
  <td style="padding-right:50px"><button (click)="list()" class="btn btn-primary">Retour</button></td>
  <td><button  (click)="downloadAsPDF()" class="btn btn-primary">Imprimer</button></td>
</tr>
</table>