<div id ="ligneDiv" *ngIf="ligne" #ligneDiv>
  <div id="typeTransport">
    <mat-icon *ngIf="ligne.type == 'Train'">train</mat-icon>   
    <mat-icon *ngIf="ligne.type == 'Bus'">directions_bus</mat-icon>
  </div>
  <div id="nomLigne">
    <svg>
      <g>
        <circle style="fill:url(#toning);stroke:#0066ff;stroke-width:5;stroke-miterlimit:10;" cx="40" cy="40" r="25">
        </circle>
        <text x=40 y=40 text-anchor="middle" stroke="#0066ff" stroke-width="1px" dy=".3em">{{ligne.nomLigne}}</text>
      </g>
    </svg>
  </div>
  
  <div>
    <svg width="2000" height="200">
    <g *ngFor="let gare of ligne.garesDto">
      <line [attr.x1]="gare.coordonnee" [attr.y1]=130 *ngIf="gare.type != 'T'" [attr.x2]="gare.coordonnee+ligne.intervalleArret" [attr.y2]=130 
      stroke="red" stroke-width="5" fill="none" stroke-opacity="2" fill-opacity="2"/>      
      
    <!-- Dessiner les arrets -->
    <g class="svgArret" [ngClass]="{'svgDepartOuTerminus':IsGareDepartOuTerminus(gare.type)}">
      <circle [attr.cx]="gare.coordonnee" cy="130" r="3" />
    </g>

    <!-- Ajouter les noms des arrets -->
    <g>
      <text [attr.x]="gare.coordonnee" [attr.y]=130 dx=-3 dy=-12 [attr.transform]="'rotate(-50, '+gare.coordonnee+',130)'" [ngClass]="{'textBold':IsGareDepartOuTerminus(gare.type)}">
        {{gare.gare}}
      </text>
    </g>
    
  </g>
    </svg>
  </div>  
</div>
<br>
<table>
  <tr>
  <td style="padding-right:50px"><button (click)="list()" class="btn btn-primary">Retour</button></td>
  <td><button  (click)="downloadAsPDF()" class="btn btn-primary">Imprimer</button></td>
</tr>
</table>