<div id ="ligneDiv" *ngIf="ligne" #ligneDiv>
  <div id="typeTransport">
    <mat-icon *ngIf="ligne.type == 'Train'">train</mat-icon>   
    <mat-icon *ngIf="ligne.type == 'Bus'">directions_bus</mat-icon>
  </div>
  <div id="nomLigne">
    <svg>
      <g>
        <circle [attr.stroke]="ligne.couleur" style="fill:url(#toning);stroke-width:5;stroke-miterlimit:10;" cx="40" cy="40" r="25">
        </circle>
        <text x=40 y=40 text-anchor="middle" [attr.stroke]="ligne.couleur" stroke-width="1px" dy=".3em">{{ligne.nomLigne}}</text>
      </g>
    </svg>
  </div>
  
  <div>
    <svg width="2000" height="200">
    <g *ngFor="let gare of ligne.garesDto">
      <line [attr.x1]="gare.coordonnee" [attr.y1]=160 *ngIf="gare.type != 'T'" [attr.x2]="gare.coordonnee+ligne.intervalleArret" [attr.y2]=160 
      [attr.stroke]="ligne.couleur" stroke-width="5" fill="none" stroke-opacity="2" fill-opacity="2"/>      
      
    <!-- Dessiner les arrets -->
    <g>
      <circle *ngIf= "!IsGareDepartOuTerminus(gare.type)" [attr.stroke]="ligne.couleur" style="stroke-width:7;" [attr.cx]="gare.coordonnee" cy="160" r="3" />
      <circle *ngIf= "IsGareDepartOuTerminus(gare.type)" style="stroke:black;stroke-width:7;" [attr.cx]="gare.coordonnee" cy="160" r="3" />
    </g>

    <!-- Ajouter les noms des arrets -->
    <g>
      <text *ngIf= "!IsGareDepartOuTerminus(gare.type)" [attr.x]="gare.coordonnee" [attr.y]=160 dx=-3 dy=-12 [attr.transform]="'rotate(-50, '+gare.coordonnee+',160)'">
        {{gare.gare}}
      </text>
      <text *ngIf= "IsGareDepartOuTerminus(gare.type)" [attr.x]="gare.coordonnee" [attr.y]=160 dx=-3 dy=-12 [attr.transform]="'rotate(-50, '+gare.coordonnee+',160)'" style="font-weight: bold;">
        {{gare.gare}}
      </text>
      
      <!-- Ajouter les correspondances -->
      <g *ngFor="let link of gare.links">
        <g *ngIf="!IsGareWithLinks(link) && !IsNotSameLigne(link.nomLigne,ligne.nomLigne)">
          <line [attr.x1]="gare.coordonnee" [attr.y1]=165 [attr.x2]="gare.coordonnee" [attr.y2]=180 
            stroke="black" stroke-width="1" fill="none" stroke-opacity="1" fill-opacity="1"/>     
          <circle [attr.stroke]="link.couleur" [attr.cx]="link.coordonnee" [attr.cy]=190 style="fill:url(#toning);stroke-width:1;stroke-miterlimit:10;" r="8"></circle>
          <text [attr.x]=link.coordonnee [attr.y]=190 text-anchor="middle" font-size="8" [attr.stroke]="link.couleur" stroke-width="1px" dy=".3em">{{link.nomLigne}}</text>
        </g>
      </g>
    </g>

  </g>
    </svg>
  </div>  
</div>
<br>
<table>
  <tr>
  <td style="padding-right:50px"><button (click)="list()" class="btn btn-primary">Retour</button></td>
  <td><button  (click)="downloadAsPDF()" class="btn btn-primary">Imprimer</button></td>
</tr>
</table>